/* MENU PAGE */
#menu-page main #menu-banner{
    height: 100vh;
    background: url('images/menu/white-background.jpeg');
  }
  #menu-page main #menu-banner h2{
    padding-top: 7rem;
    font-size: 3rem;
    font-weight: lighter;
    letter-spacing: .08em;
  }
  #menu-page main #menu-banner .cake-space{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
  }
  #menu-page main #menu-banner figure{
    text-align: center; /* centers captions and images */
  }
  .cake-figure{
    position: relative;
  }
  .cake-img{
    position: relative;
  }
  .cake-caption{
    position:relative;
  }
  #menu-page main #menu-banner #cake-1{
    left: -30rem;
  }
  #menu-page main #menu-banner #cake-figure-2{
    align-self: flex-end;
  }
  #cake-2{
    position: relative;
  }
  #cake-figure-2 figcaption{
    position: relative;
  }
  #menu-page main #menu-banner #cake-3{
    right: -30rem;
  }
  #menu-page main #menu-banner .cake-space figure img{
    height: auto;
    width: 60%;
    margin: 0;
    padding: 0;
  }
  #menu-page main #menu-banner .cake-space figure .slider-arrows{
    width: 90%;
    height: auto;
    filter: brightness(100%);
    transition: filter 1s ease-in-out;
  }
  #menu-page main #menu-banner .cake-space figure .slider-arrows:hover{
    filter: brightness(135%);
  }
  /* Cakes slide-in */
  .slide-left{
    transform: translate(-30rem, 0);
  }
  .slide-right{
    transform: translate(30rem, 0);
  }
  /* Cake rotation inspired by: https://codepen.io/ZachSaucier/pen/rsvgK*/
  /* Clockwise Rotation */
  .cw-rotate-cake-1-right{
    animation: cw-slide-1-right 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-1-right{
    100%{ transform: translate(96.5rem)};
  }
  .cw-rotate-cake-caption-1-right{
    animation: cw-slide-caption-1-right 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-caption-1-right{
    100%{ transform: translate(66.5rem)};
  }
  .cw-rotate-cake-1-front{
    animation: cw-slide-1-front 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-1-front{
    100%{ transform: translate(-3rem, 8rem)};
  }
  .cw-rotate-cake-caption-1-front{
    animation: cw-slide-cake-caption-1-front 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-cake-caption-1-front{
    100%{ transform: translate(-33rem, 8rem)};
  }
  .cw-rotate-cake-1-left{
    animation: cw-slide-1-left 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-1-left{
    100%{ transform: translate(-3.5rem, -8rem)};
  }
  .cw-rotate-cake-caption-1-left{
    animation: cw-slide-cake-caption-1-left 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-cake-caption-1-left{
    100%{ transform: translate(-33rem, -8rem)};
  }
  
  .cw-rotate-cake-2-right{
    animation: cw-slide-2-right 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-2-right{
    100%{ transform: translate(66.5rem)};
  }
  .cw-rotate-cake-2-front{
    animation: cw-slide-2-front 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-2-front{
    100%{ transform: translate(-33rem, 8rem)};
  }
  .cw-rotate-cake-2-left{
    animation: cw-slide-2-left 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-2-left{
    100%{ transform: translate(-33.5rem, -8rem)};
  }

.cw-rotate-cake-3-front{
    animation: cw-slide-3-front 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-3-front{
    100%{ transform: translate(-63rem, 8rem)};
  }
  .cw-rotate-cake-caption-3-front{
    animation: cw-slide-cake-caption-3-front 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-cake-caption-3-front{
    100%{ transform: translate(-33rem, 8rem)};
  }
  .cw-rotate-cake-3-left{
    animation: cw-slide-3-left 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-3-left{
    100%{ transform: translate(-63.5rem, -8rem)};
  }
  .cw-rotate-cake-caption-3-left{
    animation: cw-slide-cake-caption-3-left 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-cake-caption-3-left{
    100%{ transform: translate(-33rem, -8rem)};
  }
  .cw-rotate-cake-3-right{
    animation: cw-slide-3-right 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-3-right{
    100%{ transform: translate(36.5rem)};
  }
  .cw-rotate-cake-caption-3-right{
    animation: cw-slide-caption-3-right 3s ease-out 1 forwards;
  }
  @keyframes cw-slide-caption-3-right{
    100%{ transform: translate(66rem)};
  }
  
  /* Counter-Clockwise Rotation */