/* Responsive Sizing */
@media (min-width: 2560px){
    header .header-container {
      width: 2000px;
    }
    header .header-container p{
      font-size: 2.1em;
      letter-spacing: .4em;
    }
    header .header-container nav ul li{
      font-size: 1.7em;
    }
    main{
      grid-template-rows: auto 100vh 100vh 100vh;
      padding-bottom: 13rem; /* Same as footer height */
    }
    .button{
      font-size: 2em;
      padding: 1rem 2rem;
    }
    .banner video{
      width: 100%;
    }
    .cake-types h2{
      padding-top: 1rem;
      font-size: 4em;
    }
    .cake-types p{
      font-size: 2rem;
    }
    .yummy h2{
      font-size: 4em;
      margin-top: 10rem;
      font-weight: lighter;
    }
    .yummy p{
      font-size: 2.5em;
    }
    .order figure{
      padding: 15rem 0 1rem 0;
    }
    .order h2{
      font-size: 4em;
    }
    .order .steps p{
      font-size: 1.7em;
    }
    .order .steps p:nth-of-type(1){
      font-size: 2.3em;
    }
    .order .steps p:nth-of-type(2){
      padding-left: 4rem;
    }
    footer{
      font-size: 1.2em;
      /* Placement: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 13rem;
    }
    footer .footer-top-row .footer-left p:nth-of-type(1){
      font-size: 1.3em;
      letter-spacing: .3em;
    }  
  }
  
  @media (max-width: 1920px){
    header .header-container {
      width: 1550px;
    }
    header .header-container p{
      font-size: 1.4em;
      letter-spacing: .4em;
    }
    header .header-container nav ul li{
      font-size: 1.3em;
    }
    main{
      grid-template-rows: auto 100vh 100vh 100vh;
    }
    .banner video{
      width: 99.2vw;
    }
    .cake-types h2{
      padding-top: 0rem;
      font-size: 2.4em;
    }
    .cake-types p{
      font-size: 1.3em;
    }
    .order figure{
      padding: 8rem 0 1rem 0;
    }
    .order .steps p{
      font-size: 1.3em;
    }
    .order .steps p:nth-of-type(1){
      font-size: 1.9em;
    }
    .order .steps p:nth-of-type(2){
      padding-left: 3rem;
    }
    footer{
      width: 100%;
      font-size: .9em;
    }
    footer .footer-top-row .footer-left p:nth-of-type(1){
      font-size: 1.2em;
      letter-spacing: .4em;
    }  
  }
  
  @media (max-width: 1440px){
    header .header-container {
      width: 1200px;
    }
    header .header-container p{
      font-size: 1.3em;
      letter-spacing: .4em;
    }
    header .header-container nav ul li{
      font-size: 1.2em;
    }
    .banner video{
      width: 100vw;
    }
    .cake-types h2{
      font-size: 1.9em;
      margin-top: 0;
    }
    .cake-types h2:nth-of-type(2){
      margin-top: .8em;
    }
    .order h2{
      font-size: 2.5em;
    }
    .order .steps p{
      font-size: 1.1em;
    }
    .order .steps p:nth-of-type(1){
      font-size: 1.7em;
    }
  }
  
  @media (max-width: 1024px){
    header .header-container {
      width: 920px;
    }
    header .header-container p{
      font-size: 1.1em;
      letter-spacing: .4em;
    }
    header .header-container nav ul li{
      font-size: 1em;
    }
    main{
      grid-template-rows: auto auto 100vh auto;
    }
    .order .steps{
      flex-flow: column ;
      justify-content: center;
    }  
    .order .steps p:nth-of-type(2){
      padding-left: 2.5rem;
    }
    .order .steps div{
      width: 40%;
      margin-left: 0rem;
    }
    footer .footer-top-row{
      flex-wrap: wrap;
      padding: 0rem 3rem;
    }
    footer .footer-top-row .footer-left{
      width: 35%;
    }
  }
  
  @media (max-width: 768px){
    header{
      height: 2.4rem;
      margin-right: 0;
      width: 100%;
    }
    header #first-header-container{
      height: 2.4rem;
    }
    header .header-container{
      width: 600px;
    }
    header .header-container p{
      padding-top: .5rem;
    }
    header .header-container nav .navbar{
      display: none;
      margin: 0;
      padding: 0;
    }
    header .header-container nav .menu{
      /* Hamburger menu design based on: https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0 */
      display: block;
      position: fixed;
      transform: translate(105%, -100%);
      transition: transform 0.8s;
      top: .8rem;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: inherit;
      background: #303030fd;
      color: white;
      list-style: none;
      height: 100vh;
      border-radius: 15px;
    }
    header .header-container nav .menu li {
      margin-top: 1.5rem;
      font-size: 1.5em;
    }
    header .header-container nav .showMenu{
      transform: translate(0);
    }
    header .header-container nav .menu li{
      padding-top: 1rem;
    }
    header .header-container nav .menu .menuItem{
      text-decoration: none;
      color: rgb(153, 150, 150);  
    }
    header .header-container nav .menu .menuItem:hover{
      color: white;
    }
    header .header-container nav .hamburger{
      display: block;
      position: fixed;
      z-index: inherit;
      top: .4rem;
      right: 3rem;
      padding: 0;
      margin: 0;
      border: #303030 solid 1px;
      background: #303030;
      color: white;
      cursor: pointer; 
      transition: top 1s;
    }
    header .header-container nav .hamburger .closeIcon{
      display: none;
      margin: 0;
    }
    header .header-container nav ul li a{
      color: rgb(153, 150, 150);
    }
    main{
      padding-bottom: 8.5rem; /* Same as footer height */
    }
    .order .steps div{
      width: 70%;
    }
    .banner{
      margin-top: 2.4rem;
    }
    footer{
      width: 100%;
      font-size: .9em;
      height: 8.5rem;
    }
    footer .footer-top-row{
      flex-wrap: nowrap;
    }
    footer .footer-top-row .footer-left p:nth-of-type(1){
      font-size: 1em;
      letter-spacing: .4em;
    }  
    footer .footer-top-row .footer-left, footer .footer-top-row .footer-right, footer .footer-bottom-row{
      font-size: .8em;
    }
    footer .footer-top-row .footer-right{
      width: 70%;
    }
  }
  
  @media (max-width: 425px){
    header{
      margin: 0;
      padding-top: .5rem;
      background-color: #303030;
    }
    header .header-container nav .menu{
      top: 1rem;
      margin-right: 0;
    }
    header .header-container nav .hamburger{
      right: 2rem;
      margin-right: 0;
      margin-top: .3rem;
    }
    main{
      padding-bottom: 7.5rem; /* Same as footer height */
    }
    .order .steps div{
      width: 80%;
    }
    footer{
      height: 7.5rem;
      width: 100%;
      padding-left: 0;
    }
    footer .footer-top-row{
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 95%;
      padding: 0;
      margin-right: 0;
    }
    footer .footer-top-row .footer-left, footer .footer-top-row .footer-right{
      width: 100%;
    }
    footer .footer-top-row .footer-right figure{
      padding-left: 9rem;
    }
    footer .footer-top-row .footer-right #footer-cakes, #footer-learn, #footer-about, #footer-contact p{
      display: none;
    }
    footer .footer-bottom-row{
      width: 70%;
    }
  }
  
  @media (max-width: 375px){
    main{
      padding-bottom: 8.5rem; /* Same as footer height */
    }
    .cake-types h2{
      padding-top: 0rem;
      font-size: 1.8em;
    }
    .cake-types p{
      font-size: 1.1em;
    }
    .cake-types .cakes figure figcaption{
      font-size: 1.5em;
    }
    .yummy h2{
      font-size: 1.9em;
      margin-top: 10rem;
      font-weight: bold;
    }
    .yummy p{
      font-size: 1.4em;
    }
    .order h2{
      font-size: 2em;
    }
    .order .steps p{
      font-size: 1em;
    }
    .order .steps p:nth-of-type(1){
      font-size: 1.4em;
    }
    footer{
      height: 8.5rem;
    }
    footer .footer-top-row .footer-left, footer .footer-top-row .footer-right{
      width: 90%;
      margin: 0;
    }
    footer .footer-top-row .footer-right figure{
      padding-left: 6rem;
    }
  
  }
  
  @media (max-width: 320px){
    .cake-types .cakes figure figcaption{
      font-size: 1.1em;
    }
    footer .footer-top-row .footer-right figure{
      padding-left: 5rem;
    }
  }
  
  