html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  font: normal 16px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background: url('images/index/cake-layers.jpeg') center fixed;
  background-size: cover

}

header{
  top:0;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #303030;
  transition: top 0.3s;
}
header .header-container{
  /* Limits width for large screens (fmrly 960px) */
  width: 1250px;
  max-width: 95%;
  padding: 0 1rem;
  margin: 0 auto;
  /* Flexbox layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .header-container p{
  color: white;
  margin: 0;
  font-weight: lighter;
  letter-spacing: .4em;
}
header .header-container a{
  text-decoration: none;
}
header .header-container nav{
  width: 65%;
  margin: 0;  
}
header .header-container nav .navbar{
  list-style: none;
  width: 100%;
  padding: 0 1rem 0 0;
  /* Flexbox layout */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
header .header-container nav .navbar li{
  display: inline;
}
header .header-container nav .navbar li a{
  text-decoration: none;
  color: rgb(153, 150, 150);
  font-weight: lighter;
  transition: 1s; /* Controls fade-in: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_fade1 */
  letter-spacing: .1em;
}
header .header-container nav .navbar li a:hover{
    color: white;
}
header .menu, .hamburger{
  display: none;
}
header .hamburger .cake-figure{
  padding: 0;
  margin: 0;
}

.container{ /* For footer placement */
  position: relative;
  min-height: 100vh;
}
main{ 
  /* For footer placement */
  padding-bottom: 10rem; /* Same as footer height */

  display: grid;
  grid-template-rows: auto auto 100vh 100vh;
  grid-template-columns: 100%;
  gap: 0px;
}

/* General Styling */

h2{
  letter-spacing: .04em;
}.center{
  text-align: center;
}
.smaller{
  font-size: .65em;
}
.pink{
  color: #e19b9f;
}
.button {
  background-color: #e19b9f; /* Green */
  border: none;
  color: white;
  padding: 14px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  font-weight: lighter;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  letter-spacing: .1em;
}
.button1 {
  background: none; 
  color: #e19b9f; 
  border: 2px solid #e19b9f;
}

.button1:hover {
  background-color: #e19b9f;
  color: white;
}
.button-placement{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.banner{
  margin-top: 3.2rem;
  margin-bottom: 0;
  background-color: white;
}
.banner video{
  width: 100vw;
  height: auto;
  top: 0;
  z-index: 8;
}
.js-scroll{
  opacity: 0;
  /* For the fade-in */
  transition: opacity 3s, transform 3s ease-in-out;
}
.scrolled{
  /* For the fade-in */
  opacity: 1;
  /* For the drop-in */
  transform: translate(0, 10rem)
}

/* Cake Types */
.cake-types{
  margin-top: 0;
  padding: 3rem;
  background-color: #ffffff;
}
.cake-types .cakes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cake-types .cakes figure{
  /* For overlapping text and image via W3Schools: https://www.w3schools.com/css/tryit.asp?filename=trycss_image_text_center */
  position: relative;
}
.cake-types .cakes figure img{
  width: 100%;
  border-radius: 10px;
  box-shadow: inset 0px -1px 1px rgba(255,255,255,1),2px -1px 4px rgba(0,0,0,0.3);
  transition: transform 2s, filter 1.5s ease-in-out;
  filter: brightness(70%);
}
.cake-types .cakes figure img:hover{
  filter: brightness(100%); /* Inspired by https://w3bits.com/css-image-hover-zoom/ */
}
.cake-types .cakes figure figcaption{
  font-size: 1.8rem;
  color: #ffffff;
  /* For overlapping text and image */
  position: absolute;
  z-index: 8;
  width: 100%;
  top: 30%;
  padding: 0;
}
.cake-types .cakes figure .pink{
  font-weight: bold;
}
.cake-types .cakes figure p{
  color: #e19b9f;
}
.cake-types .cakes figure p:hover{
  color: rgb(194, 192, 192);
}

/* Yummy Section */
.yummy h2{
  font-size: 3em;
  font-weight: lighter;
  margin-top: 5rem;
  text-shadow: 2px 2px #30303077;
}
.yummy p{
  font-size: 1.5em;
  text-shadow: 2px 2px #30303077;
}

/* Order Section */
.order{
  background: linear-gradient(180deg,#ffffff 0%,#dbdada 100%); 
}
.order figure{
  padding: 3rem 0 1rem 0;
}
.order h2{
  font-size: 3em;
  font-weight: lighter;
}
.order .steps{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.order .steps p:nth-of-type(1){
  font-size: 1.5em;
}
.order .steps p:nth-of-type(2){
  padding-left: 2.5rem;
}
.order .button{
  margin: 3rem 0;
}

/* Footer Section */
footer{
  background-color: #8d6669;
  color: #ffffff;
  font-size: 12px;

  /* Placement: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
}
.footer-hover:hover{
  color: #e19b9f;
}
footer .top-row{
  display: flex;
  justify-content: space-around;
}
footer .top-row .left{
  letter-spacing: .2em;
}
footer .top-row .left p:nth-of-type(1){
  font-size: 14px;
  letter-spacing: .3em;
}
footer .top-row .right{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  letter-spacing: .2em;
}
footer .top-row .right #contact figure{
  margin: 0;
}
footer .top-row .right #contact figure img{
  padding-right: .5rem;
}
footer .bottom-row{
  padding: 0 3rem;
}


/* Responsive Sizing */
@media (min-width: 2560px){
  header .header-container {
    width: 2000px;
  }
  header .header-container p{
    font-size: 2.1em;
    letter-spacing: .4em;
  }
  header .header-container nav ul li{
    font-size: 1.7em;
  }
  main{
    grid-template-rows: auto 100vh 100vh 100vh;
    padding-bottom: 13rem; /* Same as footer height */
  }
  .button{
    font-size: 2em;
    padding: 1rem 2rem;
  }
  .banner video{
    width: 100%;
  }
  .cake-types h2{
    padding-top: 1rem;
    font-size: 4em;
  }
  .cake-types p{
    font-size: 2rem;
  }
  .yummy h2{
    font-size: 4em;
    margin-top: 10rem;
    font-weight: lighter;
  }
  .yummy p{
    font-size: 2.5em;
  }
  .order figure{
    padding: 15rem 0 1rem 0;
  }
  .order h2{
    font-size: 4em;
  }
  .order .steps p{
    font-size: 1.7em;
  }
  .order .steps p:nth-of-type(1){
    font-size: 2.3em;
  }
  .order .steps p:nth-of-type(2){
    padding-left: 4rem;
  }
  footer{
    font-size: 1.2em;
    /* Placement: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13rem;
  }
  footer .top-row .left p:nth-of-type(1){
    font-size: 1.3em;
    letter-spacing: .3em;
  }  
}

@media (max-width: 1920px){
  header .header-container {
    width: 1550px;
  }
  header .header-container p{
    font-size: 1.4em;
    letter-spacing: .4em;
  }
  header .header-container nav ul li{
    font-size: 1.3em;
  }
  main{
    grid-template-rows: auto 100vh 100vh 100vh;
  }
  .banner video{
    width: 99.2vw;
  }
  .cake-types h2{
    padding-top: 0rem;
    font-size: 2.4em;
  }
  .cake-types p{
    font-size: 1.3em;
  }
  .order figure{
    padding: 8rem 0 1rem 0;
  }
  .order .steps p{
    font-size: 1.3em;
  }
  .order .steps p:nth-of-type(1){
    font-size: 1.9em;
  }
  .order .steps p:nth-of-type(2){
    padding-left: 3rem;
  }
  footer{
    width: 100%;
    font-size: .9em;
  }
  footer .top-row .left p:nth-of-type(1){
    font-size: 1.2em;
    letter-spacing: .4em;
  }  
}

@media (max-width: 1440px){
  header .header-container {
    width: 1200px;
  }
  header .header-container p{
    font-size: 1.3em;
    letter-spacing: .4em;
  }
  header .header-container nav ul li{
    font-size: 1.2em;
  }
  .banner video{
    width: 100vw;
  }
  .cake-types h2{
    font-size: 1.9em;
    margin-top: 0;
  }
  .cake-types h2:nth-of-type(2){
    margin-top: .8em;
  }
  .order h2{
    font-size: 2.5em;
  }
  .order .steps p{
    font-size: 1.1em;
  }
  .order .steps p:nth-of-type(1){
    font-size: 1.7em;
  }
}

@media (max-width: 1024px){
  header .header-container {
    width: 920px;
  }
  header .header-container p{
    font-size: 1.1em;
    letter-spacing: .4em;
  }
  header .header-container nav ul li{
    font-size: 1em;
  }
  main{
    grid-template-rows: auto auto 100vh auto;
  }
  .order .steps{
    flex-flow: column ;
    justify-content: center;
  }  
  .order .steps p:nth-of-type(2){
    padding-left: 2.5rem;
  }
  .order .steps div{
    width: 40%;
    margin-left: 0rem;
  }
  footer .top-row{
    flex-wrap: wrap;
    padding: 0rem 3rem;
  }
  footer .top-row .left{
    width: 35%;
  }
}

@media (max-width: 768px){
  header{
    height: 2.4rem;
    margin-right: 0;
    width: 100%;
  }
  header .header-container{
    width: 600px;
  }
  header .header-container p{
    padding-top: .5rem;
  }
  header .header-container nav .navbar{
    display: none;
    margin: 0;
    padding: 0;
  }
  header .header-container nav .menu{
    /* Hamburger menu design based on: https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0 */
    display: block;
    position: fixed;
    transform: translate(105%, -100%);
    transition: transform 0.4s;
    top: .8rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: inherit;
    background: #303030fd;
    color: white;
    list-style: none;
    height: 100vh;
  }
  header .header-container nav .menu li {
    margin-top: 1.5rem;
    font-size: 1.5em;
  }
  header .header-container nav .showMenu{
    transform: translate(0);
  }
  header .header-container nav .menu li{
    padding-top: 1rem;
  }
  header .header-container nav .menu .menuItem{
    text-decoration: none;
    color: rgb(153, 150, 150);  
  }
  header .header-container nav .menu .menuItem:hover{
    color: white;
  }
  header .header-container nav .hamburger{
    display: block;
    position: fixed;
    z-index: inherit;
    top: .4rem;
    right: 3rem;
    padding: 0;
    margin: 0;
    border: #303030 solid 1px;
    background: #303030;
    color: white;
    cursor: pointer; 
    transition: top 0.3s;
  }
  header .header-container nav .hamburger .closeIcon{
    display: none;
    margin: 0;
  }
  
  header .header-container nav ul li a{
    color: rgb(153, 150, 150);
  }
  main{
    padding-bottom: 8.5rem; /* Same as footer height */
  }
  .order .steps div{
    width: 70%;
  }
  .banner{
    margin-top: 2.4rem;
  }
  footer{
    width: 100%;
    font-size: .9em;
    height: 8.5rem;
  }
  footer .top-row{
    flex-wrap: nowrap;
  }
  footer .top-row .left p:nth-of-type(1){
    font-size: 1em;
    letter-spacing: .4em;
  }  
  footer .top-row .left, footer .top-row .right, footer .bottom-row{
    font-size: .8em;
  }
  footer .top-row .right{
    width: 70%;
  }
}

@media (max-width: 425px){
  header{
    margin: 0;
    padding-top: .5rem;
  }
  header .header-container nav .menu{
    top: 1rem;
    margin-right: 0;
  }
  header .header-container nav .hamburger{
    right: 2rem;
    margin-right: 0;
    margin-top: .3rem;
  }
  main{
    padding-bottom: 7.5rem; /* Same as footer height */
  }
  .order .steps div{
    width: 80%;
  }
  footer{
    height: 7.5rem;
    width: 100%;
    padding-left: 0;
  }
  footer .top-row{
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    padding: 0;
    margin-right: 0;
  }
  footer .top-row .left, footer .top-row .right{
    width: 100%;
  }
  footer .top-row .right figure{
    padding-left: 9rem;
  }
  footer .top-row .right #cakes, #learn, #about, #contact p{
    display: none;
  }
  footer .bottom-row{
    width: 70%;
  }
}

@media (max-width: 375px){
  main{
    padding-bottom: 8.5rem; /* Same as footer height */
  }
  .cake-types h2{
    padding-top: 0rem;
    font-size: 1.8em;
  }
  .cake-types p{
    font-size: 1.1em;
  }
  .cake-types .cakes figure figcaption{
    font-size: 1.5em;
  }
  .yummy h2{
    font-size: 1.9em;
    margin-top: 10rem;
    font-weight: bold;
  }
  .yummy p{
    font-size: 1.4em;
  }
  .order h2{
    font-size: 2em;
  }
  .order .steps p{
    font-size: 1em;
  }
  .order .steps p:nth-of-type(1){
    font-size: 1.4em;
  }
  footer{
    height: 8.5rem;
  }
  footer .top-row .left, footer .top-row .right{
    width: 90%;
    margin: 0;
  }
  footer .top-row .right figure{
    padding-left: 6rem;
  }

}

@media (max-width: 320px){
  .cake-types .cakes figure figcaption{
    font-size: 1.1em;
  }
  footer .top-row .right figure{
    padding-left: 5rem;
  }
}

